@import 'reset';
@import 'grid';
@import 'nav';
@import 'typography';


$color: #ededed;

html,
body {
  background-color : $color;
  margin: 0;
  padding: 0;
}



.wrapper {
  width: 96%;
  max-width: 960px;
  margin: 0 auto;
  background-color: white;
}


header.main_header,
section.container,
footer.main_footer {
  display: block;
  width: 100%;
  @extend %clearfix;
}

.maindiv {
    box-sizing: border-box;
    box-shadow: 3px 3px 4px #444;
    background-color: red;
    opacity: 0.9;
}


img {
    width: auto;
    max-width: 100%;
    height: auto !important; 
}


