doctype
html
  head
    title #{title} - My Site
    link(rel='stylesheet', href='/styles/styles.min.css')
  body
    header
      nav
        ul
          li
             a(href='#') Home
          li
            a(href='about') About
            
      h1 About us

    .container
      .main-content
        p content area
      .sidebar
        p desife bar dfsdf
        
    footer
      p Running on node with Express, Jade and Stylus 